html,
body {
  font-family: "Arial";
  margin: 0;
  padding: 0;
  user-select: none;
}

table {
  border-collapse: collapse;
  text-align: left;
  margin: 40px auto;
}

th {
  font-size: 1.2em;
  border-bottom: 2px solid #008080;
  background: rgba(255, 255, 255, 0.97);
  position: sticky;
  top: 0px;
  cursor: pointer;
  font-weight: bold;
  color: #4C4C4C;
  padding: 10px 8px;
}

td {
  font-size: 1em;
  color: #666666;
  padding: 5px 5px;
  transition: .3s linear;
  height: 40px;
  cursor: pointer;
  min-width: 20px;
}

table td:first-child {
  text-align: left;
}

table td:last-child {
  left: 30px;
}

tr:hover td {
  color: #78C9D9;
}

img {
  height: 50%;
}

.hide {
  visibility: hidden;
}

.active {
  visibility: none;
}

.rotate {
  transform: rotate(-45deg);
}

#buttonAdd {
  background: url(image/add.png) no-repeat;
  background-size: 100%;
  margin: auto;
  top: 49%;
  left: 1000px;
  right: 0;
  width: 40px;
  height: 40px;
  position: fixed;
  cursor: pointer;
  transition: .2s linear;
}

#form {
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
  top: 45%;
  width: 870px;
  height: 80px;
  border: 2px solid #800040;
  margin: auto;
  left: -60px;
  right: 0;
}

.form-row {
  padding: 10px;
  display: inline;
}

.panel-body {
  position: relative;
}

.input {
  width: 150px;
  height: 20px;
}

.btn {
  font-size: 0.7em;
  width: 170px;
  height: 30px;
  margin: 20px;
  text-transform: uppercase;
}